<div class="container">
    <nav class="navbar navbar-toggleable-sm navbar-light">
        <div class="col-sm-12 col-md-4 col-xl-3">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
        <div class="col-sm-12 col-md-8 col-xl-9">
            <div class="collapse" id="navbarNavDropdown">
                <div class="navbar-collapse link1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/article'>Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Editor</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="social navbar-nav my-2 my-md-0 hidden-sm-down">
                        <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span class="hidden">facebook</span></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden">twitter</span></a></li>
                        <li class="instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span class="hidden">instagram</span></a></li>
                        <li class="gplus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="hidden">gplus</span></a></li>
                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="hidden">linkedin</span></a></li>
                    </ul>


                </div>
                <div class="navbar-collapse link2">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" *ngFor="let page of pages"><a class="nav-link" href='/article/{{page.page_id}}'>{{page.page_title}}</a></li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/article'>Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Editor</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>

</div>