
    <div class="bodycontent text-center home-banner">
        <div class="jumbotron">
            <h1>Alquiler de Casas y Cabañas en Cabarceno y Cantabria</h1>
            <p>Alojamientos ubicados a sólo 500 metros de los elefantes del Parque de la Naturaleza de Cabárceno y de los lagos y a sólo 15 minutos de Santander.</p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="cabanas-alpinas.html"><img src="./assets/images/product1.png" width="193" height="193" alt="PRODUCT1" class="img-responsive img-circle"></a></li>
            <li class="list-inline-item"><a href="cabana-dominica.html"><img src="./assets/images/product2.png" width="193" height="193" alt="PRODUCT2" class="img-responsive img-circle"></a></li>
            <li class="list-inline-item"><a href="cabana-nieves.html"><img src="./assets/images/product3.png" width="193" height="193" alt="PRODUCT3" class="img-responsive img-circle"></a></li>
            <li class="list-inline-item"><a href="cabana-manuel.html"><img src="./assets/images/product4.png" width="193" height="193" alt="PRODUCT4" class="img-responsive img-circle"></a></li>
            <li class="list-inline-item"><a href="losabetos.html"><img src="./assets/images/product5.png" width="193" height="193" alt="PRODUCT5" class="img-responsive img-circle"></a></li>
            </ul>
        </div>
	</div>
    
    <div class="search" id="bookingEngine">
<form class="form-inlines">
<div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 title"><h1>BOOK YOUR ROOMS</h1></div>
<div class="col-sm-12 col-md-9 col-lg-9 col-xl-10">
<div class="form-group row">

<div class="col-xl-3 col-lg-6">
<label class="sr-only" for="Arrival">Arrival:</label>
<input type="text" class="form-control" id="Arrival" placeholder="Arrival:">
</div>
<div class="col-xl-3 col-lg-6">
<label class="sr-only" for="Departure">Departure:</label>
<input type="text" class="form-control" id="Departure" placeholder="Departure:">
</div>
<div class="col-xl-4 col-lg-9">
<div class="row">
<div class="col-sm-4">
<label class="sr-only" for="all">all:</label>
<input type="text" class="form-control" id="all" placeholder="All:">
</div>
<div class="col-sm-4">
<label class="sr-only" for="adults">adults:</label>
<input type="text" class="form-control" id="adults" placeholder="Adults:">
</div>
<div class="col-sm-4">
<label class="sr-only" for="Kids">Kids:</label>
<input type="text" class="form-control" id="Kids" placeholder="Kids:">
</div>
</div>
</div>
<div class="col-xl-2 col-lg-3">
<button type="submit" class="btn btn-primary">Book Now</button>
</div>
</div>
</div>
</form>

</div>